.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.title {
  font-size: 5rem;
  color: white;
}

.timer {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
}

.score {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
}

.question {
  margin-top: 20px;
  font-size: 2rem;
  color: white;
}
.options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.option {
  background-color: var(--color-orange);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e66520;
}

.option:active {
  background-color: #cc591c;
}

.option[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.nextButton {
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: darkgreen;
}

.nextButton:active {
  background-color: darkgreen;
}

.tryAgainButton {
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.correct {
  background-color: green;
  animation: correct 0.3s ease;
}

@keyframes correct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.correct[disabled] {
  background-color: green;
  cursor: not-allowed;
}
.wrong {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .options {
    flex-direction: column;
  }

  .option {
    width: 100%;
  }

  .nextButton {
    width: 100%;
  }

  .title {
    font-size: 3rem;
  }

  .score {
    font-size: 1.5rem;
  }

  .question {
    font-size: 1.5rem;
  }
}
