:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-orange: #ff7225;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes animateOpacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000000;
  opacity: 0.9;
  background-image: linear-gradient(
      30deg,
      #ff722500 12%,
      transparent 12.5%,
      transparent 87%,
      #ff722524 87.5%,
      #ff722512
    ),
    linear-gradient(
      150deg,
      #ff72253b 12%,
      transparent 12.5%,
      transparent 87%,
      #ff722526 87.5%,
      #ff72251f
    ),
    linear-gradient(
      30deg,
      #ff72251a 12%,
      transparent 12.5%,
      transparent 87%,
      #ff722529 87.5%,
      #ff722533
    ),
    linear-gradient(
      150deg,
      #ff722500 12%,
      transparent 12.5%,
      transparent 87%,
      #ff722517 87.5%,
      #ff72253d
    ),
    linear-gradient(
      60deg,
      #ff72253d 25%,
      transparent 25.5%,
      transparent 75%,
      #ff722521 75%,
      #ff722514
    ),
    linear-gradient(
      60deg,
      #ff722514 25%,
      transparent 25.5%,
      transparent 75%,
      #ff722503 75%,
      #ff72250f
    );

  background-size: 200% 200%;
  animation: animateBackground 10s linear infinite,
    animateOpacity 5s ease-in-out infinite;
}

body {
  background-size: 35px 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
