.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-golos);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: toOpacity 2s ease-in;
}
.title {
  font-size: 5rem;
  text-shadow: 0 1px 0 hsl(0, 0%, 80%), 0 2px 0 hsl(0, 0%, 75%),
    0 3px 0 hsl(0, 0%, 70%), 0 4px 0 hsl(0, 0%, 66%), 0 5px 0 hsl(0, 0%, 64%),
    0 6px 0 hsl(0, 0%, 62%), 0 7px 0 hsl(0, 0%, 61%), 0 8px 0 hsl(0, 0%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes toOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.description {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  padding-bottom: 40px;
}

.button {
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1.1px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.842);
  padding: 1.2rem 1.7rem;
  line-height: 0.9;
  border-radius: 9999px;
  cursor: pointer;
  border: 1px solid var(--color-orange);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 50px,
    var(--color-orange) 0px -10px 20px, var(--color-orange) 0px 3px 5px,
    var(--color-orange) 0px 10px 11px, var(--color-orange) 0px -2px 4px;
}
.button:hover {
  color: var(--color-orange);
  background-color: #444444bd;
}
